<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery</title>
    <!-- Add your CSS styles here -->
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
  
        th,
        td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
  
        th {
          background-color: #f2f2f2;
        }
        .hide-column {
          display: none;
        }
  
        #purchaseTable td:nth-child(1),
        #purchaseTable th:nth-child(1),
        #deleteRow {
          display: none;
        }
      </style>
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <ul>
        <li><a href="/purchase">Purchase</a></li>
        <li><a href="/delivery">Delivery</a></li>
        <li><a href="/issue">Issue</a></li>
        <li><a href="/return">Return</a></li>
        <li><a href="/count">Count</a></li>
        <li><a href="/audit">Audit</a></li>
      </ul>
    </div>

    <!-- Your main content -->
    <div class="content">
      <!-- Include your main content here -->
    </div>

    <!-- Add your JavaScript files here -->

    <h1>Delivery</h1>
    

    <form
    id="purchaseForm"
    class="deleteMode"
    action="/purchase"
    method="post"
    onsubmit="handleSubmit(event)"
  >
    <h2>Purchase Order</h2>
    <p>Enter purchase details</p>

    <div class="control-row">
        <label for="contractNumberDropDown">Contract Number:</label>
      <select id="contractNumberDropDown" name="contractNumberDropDown">
        <option disabled selected>Select a Contract Number</option>
        <% contractNumbers.forEach(contractNumbers => { %>
        <option value="<%= contractNumbers.ContractNumber %>">
          <%= contractNumbers.ContractNumber %>
        </option>
        <% }); %>
      </select>
    </div>

    <p class="form-actions">
        <button type="submit" class="button">Submit</button>
      </p>
    </form>
  </body>
</html>
